---
---
@charset "utf-8";

// Variables
$default-font-family: "Rubik";
$default-font-color:  #000000;
$default-font-size:   17px;
$default-font-weight: 200;

$palette-orange: #fd6a00;
$palette-yellow: #f8d239;
$palette-green: #38bb00;
$palette-blue: #5ce1e6;
$palette-indigo: #5e17eb;
$palette-purple: #8c52ff;

// Imports
@import "fonts";
@import "styles";