---
---
@charset "utf-8";

// Variables
$default-font-family: "Inter";
$default-font-color:  #365069;
$default-font-size:   17px;
$default-font-weight: 400;

$header-font-family: "Open Sans";
$header-font-weight: 700;

$wrapper-max-width: 1050px;
$small-wrapper-max-width: 720px;

$palette-orange: #fd6a00;
$palette-yellow: #f8d239;
$palette-green: #38bb00;
$palette-blue: #00c2cb;
$palette-indigo: #5e17eb;
$palette-purple: #8c52ff;

// Imports
@import "fonts";
@import "styles";