<li class="experience-panel">
    <div class="experience-header">
        <img src={{ experience.image_path }} class="experience-logo"> 
        <div class="experience-heading-header">{{ experience.company }}</div> 
        <span class="experience-heading-text"> &lt; {{ experience.position }} &gt;</span><br>
        <span class="experience-heading-text"> #  {{ experience.date_str }}</span>
    </div>
    <div class="experience-content">
        {{ experience.content }}
    </div>
    <div>
        {% for skill in experience.skills %}
            <span class="prog_lang">{{ skill }}</span>
        {% endfor %}
    </div>
</li>