<div class="footer">
    <p>
        <h5>Assembled by Nicholas &copy;</h5>
        <a href="https://github.com/jwnicholas99" target="_blank" class="code_link" style="color: #fd6a00;">[Github]</a>
        <a href="https://www.linkedin.com/in/jingweinicholaslim/" target="_blank" class="code_link" style="color: #38bb00;">[Linkedin]</a>
        <a href="https://docs.google.com/document/d/1zxp8NWGAYkdYmxFnKzKqdznG9lETx12YfMF9hdLOwPs/edit?usp=sharing" target="_blank" class="code_link" style="color: #8c52ff;">[Resume]</a>
    </p>
</div>