<div>
  <div class="nav-links">
    <div>
      <i class="fa fa-rss-square fa-lg" aria-hidden="true"></i>
      <a href="/blog">Blog</a>
    </div>
    <div>
      <i class="fa fa-github-square fa-lg" aria-hidden="true"></i>
      <a href="https://github.com/jwnicholas99" target="_blank">jwnicholas99</a>
    </div>
    <div>
      <i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i>
      <a href="https://www.linkedin.com/in/jwnicholas99/" target="_blank"
        >Jing Wei Nicholas Lim</a
      >
    </div>
    <div>
      <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
      <a href="/resume" target="_blank">Resume</a>
    </div>
  </div>
  {% if page.skills %}
  <div class="skills">
    Built using:
    <div>
      {% for item in page.skills %}
      <span class="bubble">{{ item }}</span>
      {% endfor %}
    </div>
  </div>
  {% endif %}
</div>
