<script type="text/javascript" src="/scripts/typewriter.js"></script>
<div class="landing">
  <div class="logo-container">
    <a href="/"
      ><img
        src="/images/icon/logo/logo_transparent.png"
        alt="logo"
        width="43"
        height="47"
    /></a>
    <a href="/"><div class="logo-text">n.lim</div></a>
  </div>
  <div class="landing-text">
    <div class="landing-opening">Hi, I'm<span id="typewriter"></span></div>
    Welcome to my digital corner! Here, I explore ideas (code and non-code),
    bringing you along as I document my code and pen my thoughts.
    <br /><br />
    I'm currently a software engineer at
    <a href="https://www.open.gov.sg/" target="_blank"
      >Open Government Products</a
    >, building products for public good. Previously, I've interned at Roblox,
    SAP ICN, GovTech and InterSystems. <br /><br />
    I majored in Computer Science and Philosophy at Brown University,
    specialising in AI/ML and Systems.
  </div>
</div>
