<div class="home-link">
    {% if page.is_project %}
        <a href="/">Home &hookleftarrow;</a>
    {% elsif page.is_post %}
        <a href="/blog">Blog &hookleftarrow;</a>
    {% endif %}
</div>
<div class="other-posts" >
    {% if page.next %}
        <a href="{{ page.next.url }}" class="left-link"><--  {{ page.next.title | truncate: 17 }}</a>
    {% endif %}
    {% if page.previous %}
        <a href="{{ page.previous.url }}" class="right-link">{{ page.previous.title | truncate: 17 }}  --></a>
    {% endif %}
</div>