/* Rubik */

@font-face { font-family: "Rubik"; font-weight: 200; font-style: normal; src: url(../fonts/rubik/Rubik-Light.ttf); }
@font-face { font-family: "Rubik"; font-weight: 200; font-style: italic; src: url(../fonts/rubik/Rubik-LightItalic.ttf); }
@font-face { font-family: "Rubik"; font-weight: 400; font-style: normal; src: url(../fonts/rubik/Rubik-Regular.ttf); }
@font-face { font-family: "Rubik"; font-weight: 400; font-style: italic; src: url(../fonts/rubik/Rubik-Italic.ttf); }
@font-face { font-family: "Rubik"; font-weight: 500; font-style: normal; src: url(../fonts/rubik/Rubik-Medium.ttf); }
@font-face { font-family: "Rubik"; font-weight: 500; font-style: italic; src: url(../fonts/rubik/Rubik-MediumItalic.ttf); }
@font-face { font-family: "Rubik"; font-weight: 600; font-style: normal; src: url(../fonts/rubik/Rubik-SemiBold.ttf); }
@font-face { font-family: "Rubik"; font-weight: 600; font-style: italic; src: url(../fonts/rubik/Rubik-SemiBoldItalic.ttf); }
@font-face { font-family: "Rubik"; font-weight: 700; font-style: normal; src: url(../fonts/rubik/Rubik-Bold.ttf); }
@font-face { font-family: "Rubik"; font-weight: 700; font-style: italic; src: url(../fonts/rubik/Rubik-BoldItalic.ttf); }
@font-face { font-family: "Rubik"; font-weight: 800; font-style: normal; src: url(../fonts/rubik/Rubik-ExtraBold.ttf); }
@font-face { font-family: "Rubik"; font-weight: 800; font-style: italic; src: url(../fonts/rubik/Rubik-ExtraBoldItalic.ttf); }
@font-face { font-family: "Rubik"; font-weight: 900; font-style: normal; src: url(../fonts/rubik/Rubik-Black.ttf); }
@font-face { font-family: "Rubik"; font-weight: 900; font-style: italic; src: url(../fonts/rubik/Rubik-BlackItalic.ttf); }