/* reusables */
body {
    padding: 0;
    margin: 0;
    font-family: $default-font-family;
    font-weight: $default-font-weight;
    color: $default-font-color;
    font-size: $default-font-size;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
}

a {
  color: $default-font-color;
  transition: color 0.15s linear;
}

.wrapper {
  max-width: $wrapper-max-width;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.small-wrapper {
  max-width: $small-wrapper-max-width;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.small-header {
  font-family: $header-font-family;
  font-weight: $header-font-weight;
  font-size: 22px;
}

.skill-bubble {
  border: solid 0px;
  border-radius: 14px;
  padding: 3px 12px;
  line-height: 30px;
  font-size: 15px;
  color: white
}

.skill-bubble:nth-of-type(6n+1) { background: $palette-orange }
.skill-bubble:nth-of-type(6n+2) { background: $palette-yellow }
.skill-bubble:nth-of-type(6n+3) { background: $palette-green }
.skill-bubble:nth-of-type(6n+4) { background: $palette-blue }
.skill-bubble:nth-of-type(6n+5) { background: $palette-indigo }
.skill-bubble:nth-of-type(6n+6) { background: $palette-purple }

.section-container {
  padding-bottom: 20px;
}

.section-heading {
  padding: 5vh 0vw;
  margin-bottom: 2vh;
  text-align: center;

  span {
    font-family: $header-font-family;
    font-weight: $header-font-weight;
    font-size: 28px;
    padding: 1.7vh 1.7vw;
    border: 2px solid black;
    letter-spacing: 0.20rem;
    -webkit-transition: color 0.2s linear, -webkit-box-shadow 0.2s linear;
    transition: color 0.2s linear, -webkit-box-shadow 0.2s linear;
    transition: box-shadow 0.2s linear, color 0.2s linear;
    transition: box-shadow 0.2s linear, color 0.2s linear, -webkit-box-shadow 0.2s linear;
  }
}

section:hover .section-heading span {
  color: var(--section_color);
  -webkit-box-shadow: 4px 4px var(--section_color);
          box-shadow: 4px 4px var(--section_color);
}

.orange-text {
  color: $palette-orange;
}

.green-text {
  color: $palette-green;
}

.purple-text {
  color: $palette-purple;
}

.lazyload,
.lazyloading {
  opacity: 0;
}

.lazyloaded {
  opacity: 1;
  transition: 0.2s opacity;
}
/* end reusables */

/* landing */
.landing-container,
.header-container {
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 30px;
  background: #F9F8FD;
  font-size: 18px;
  line-height: 26px;

  .wrapper {
    display: flex;
    flex-direction: row;

    .left-col {
      width: 75%;
      padding-right: 30px;
      border-right: 1px solid lightgray;
    }

    .right-col {
      margin-left: 30px;
      margin-right: 30px;

      .nav-links {
        padding-bottom: 20px;
        border-bottom: 1px solid lightgray;
        line-height: 26px;
      }

      .page-links {
        padding-bottom: 20px;
        border-bottom: 1px solid lightgray;
        line-height: 26px;

        a {
          text-decoration: none;
          font-size: 16px;
          border-radius: 6px;
          border: 1px solid #365069;
          padding: 4px 8px;
          transition: color 0.1s linear, background-color 0.1s linear;
          margin-right: 3px;
        }

        a:hover {
          color: white;
          background-color: $default-font-color;
        }
      }

      .skills {
        padding-top: 20px;
      }
    }
  }
}

.landing-header {
  padding-bottom: 40px;

  .wrapper {
    .left {
      flex: 2 0 0;
    }

    .right {
      flex: 1 0 0;
    }
  }
}

.logo-container {
  padding-bottom: 20px;

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  img {
    padding-right: 16px;
  }

  .logo-text {
    font-family: $header-font-family;
    font-weight: $header-font-weight;
    font-size: 26px;
  }
}


.landing-opening {
  padding-bottom: 6px;
  font-family: $header-font-family;
  font-weight: $header-font-weight;
  font-size: 28px;
  line-height: 40px;
}

#typewriter {
  margin: 0 0.5rem;
  border-right: 0.3rem solid turquoise;
  background: #283538;
  font-family: "Rubik";
  color: white;
  -webkit-animation: cursor_blink 1s step-end infinite;
  animation: cursor_blink 1s step-end infinite;
}

@-webkit-keyframes cursor_blink {
    from, to {
      border-color: transparent;
    }
    50% {
      border-color: orange;
    }
}
  
@keyframes cursor_blink {
    from, to {
      border-color: transparent;
    }
    50% {
      border-color: orange;
    }
}
/* end landing */

/* start projects */
.project-filters {
  ul {
    list-style: none;
    text-align: center;
    font-size: 15px;

    li {
      display: inline-block;
      margin: 0px 8px;
      padding: 10px 12px;
      cursor: pointer;
      color: #6e6d7a;
      font-weight: 300;
    }

    li.active {
      border-radius: 8px;
      background-color: rgba(13,12,34,0.05);
      color: black;
      font-weight: 500;
    }
  }
}

.project-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .project-panel {
    width: 31%;
    flex: 0 0 auto;
    margin-bottom: 21px;
    overflow: hidden;
    padding: 0px 10px;

    .image-and-overlay {
      position: relative;
      width: 100%;
      height: 250px;
      border-radius: 8px;
      margin-bottom: 9px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
      }

      .panel-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: 300ms ease;
        background-image: linear-gradient(rgba(0, 0, 0, 0) 62%, rgba(0, 0, 0, 0.004) 63.94%, rgba(0, 0, 0, 0.016) 65.89%, rgba(0, 0, 0, 0.03) 67.83%, rgba(0, 0, 0, 0.06) 69.78%, rgba(0, 0, 0, 0.094) 71.72%, rgba(0, 0, 0, 0.133) 73.67%, rgba(0, 0, 0, 0.176) 75.61%, rgba(0, 0, 0, 0.224) 77.56%, rgba(0, 0, 0, 0.267) 79.5%, rgba(0, 0, 0, 0.306) 81.44%, rgba(0, 0, 0, 0.34) 83.39%, rgba(0, 0, 0, 0.37) 85.33%, rgba(0, 0, 0, 0.384) 87.28%, rgba(0, 0, 0, 0.396) 89.22%, rgba(0, 0, 0, 0.4) 91.17%);
        display: flex;
        align-items: flex-end;

        .overlay-text {
          width: 100%;
          padding: 20px;
          color: white;
          font-weight: 500;
        }
      }
    }

    .image-and-overlay:hover .panel-overlay {
      opacity: 1;
    }

    a {
      text-decoration: none;
    }

    a:hover {
      color: #fd6a00;
    }

    .project-title {
      font-size: 16px;
    }
  }

}
/* end projects */

/* start about */
.section-about {
  background: #F9F8FD;
  --section_color: #38bb00;
}

.about {
  display: flex;
  flex-direction: row;

  a:hover {
    color: #38bb00;
  }

  .left-col {
    width: 55%;
    padding-right: 30px;

    pre {
      margin-top: 0px;

      code {
        margin-top: 0px;
        border-radius: 4px;
        font-size: 15px;
      }
    }

    .about-text {
      line-height: 26px;
    }
  }

  .right-col {
    margin-left: 30px;
    margin-right: 30px;

    .small-header {
      padding-bottom: 10px;
    }
  }
}

.post-panel {
  padding-bottom: 15px;
  line-height: 26px;
  
  a {
    text-decoration: none;
  }
  
  .post-title {
    font-family: $header-font-family;
    font-weight: $header-font-weight;
    font-size: 18px;
  }

  .post-details {
    color: #768698;
    font-size: 15px;
  }
}
/* end about */

/* start experience */
.section-experience {
  --section_color: #8c52ff;
}

.timeline {
  ul {
    list-style: none;

    .experience-panel {
      border: solid 0.1px #E5E5E5;
      border-radius: 5px;
      margin-bottom: 15px;
      padding: 30px;
      transition: box-shadow 0.1s linear, -webkit-box-shadow 0.1s linear;
      
      .experience-header {
        .experience-logo {
          width: 70px;
          height: 70px;
          float: left;
          margin-right: 15px;
        }

        .experience-heading-header {
          font-family: $header-font-family;
          font-weight: $header-font-weight;
          font-size: 22px;
          transition: color 0.1s linear;
        }

        .experience-heading-text {
          color: #768698;
          font-size: 15px;
        }
      }

      .experience-content {
        width: 100%;
        line-height: 26px;
      }
    }

    .experience-panel:hover {
      border: solid 1px #E5E5E5;
      -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
              box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);

      .experience-heading-header {
        color: var(--section_color);
      }
      
    }
  }
}

.prog_lang {
  border: solid 0px;
  border-radius: 3px;
  padding: 4px;
  background-color: var(--section_color);
  color: white;
  font-size: 15px;
}
/* end experience */

/* start footer */
.footer {
  width: 100%;
  margin-top: 120px;
  text-align: center;

  span {
    padding-bottom: 50px;
    padding-left: 5px;
    padding-right: 5px;
  }
}
/* end footer */

/* start post */
.post-content {
  line-height: 26px;
  padding-top: 24px;
  
  figure {
    padding-top: 15px;
    padding-bottom: 15px;
    margin: auto;

    figcaption {
      text-align: center;
      padding-top: 8px;
      font-size: 15px;
    }
  }

  a {
    transition: background-color 0.1s linear;
  }

  a:hover {
    color: white;
    background-color: $default-font-color;
  }

  pre {
    margin-top: 0px;
    line-height: normal;

    code {
      margin-top: 0px;
      border-radius: 4px;
      font-size: 15px;
    }
  }
}

img.responsive-image {
  width: 100%;
  margin: 0 auto;
  display: block;
  max-width: 500px;
}

img.responsive-image.small {
  width: 100%;
  margin: 0 auto;
  display: block;
  max-width: 250px;
}

.img-two-cols {
  display: flex;
  justify-content: center;

  img.responsive-image.left, 
  img.responsive-image.right{
    width: 50%;
    margin: 0;
    max-width: 250px;
  }
}


.rel-links {
  margin-top: 60px;
  padding-top: 40px;
  padding-bottom: 60px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;

  a {
    transition: background-color 0.1s linear;
    font-weight: 500;
  }

  a:hover {
    color: white;
    background-color: $default-font-color;
  }

  .home-link {
    display: block;
    text-align: center;
  }

  .other-posts {
    margin-top: 15px;

    .left-link {
      display: inline-block;
    }

    .right-link {
      float: right;
    }
  }
}

/* end post */