<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.html %}
        {% seo title=false %}
    </head>
    <body>
        <header class="header-container">
            <div class="wrapper">
                <div class="left-col">
                    <div class="landing">
                        <div class="logo-container">
                            <a href="/">
                                <img src="/images/icon/logo/logo_transparent.png" alt="logo" width="43" height="47">
                                <div class="logo-text">n.lim</div>
                            </a>
                        </div>
                        <div class="landing-text">
                            <div class="landing-opening">
                                {% if page.is_project %}
                                    Project:
                                {% elsif page.is_post %}
                                    Post:
                                {% endif %}
                                {{ page.title }}
                            </div>
                            <div>
                                {{ page.tagline }}
                            </div>
                            {% if page.is_post %}
                                <div class="post-details">
                                    {{ page.date | date: "%-d %B %Y" }} &nbsp;&middot&nbsp; <i class="fa fa-clock-o" aria-hidden="true"></i> {{ page.length }} read
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="right-col">
                    {% if page.links %}
                        <div class="page-links">
                            {% for link in page.links %}
                                <a href="{{ link[1].link }}" target="_blank"><i class="{{ link[1].logo }}" aria-hidden="true"></i> {{ link[1].text }}</a>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if page.is_project %}
                        <div class="skills">
                            Built using:
                            <div>
                                {% for item in page.skills %}
                                    <span class="bubble">{{ item }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    {% elsif page.is_post %}
                        <div class="categories">
                            Categories:
                            <div>
                                {% for item in page.categories %}
                                    <span class="bubble {{ item }}">{{ item }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </header>
        <div class="small-wrapper">
            <div class="post-content">
                {{ content }}
            </div>
            <div class="rel-links">
                {% include rel_links.html %}
            </div>
        </div>
        {% include footer.html %}
    </body>
</html>